<div class=''>
  <br>
  <div>
    <h2>Name: <%= @profile.user.first_name + ' ' + @profile.user.last_name %></h2>
    <h2>Email: <%= @profile.user.email %></h2>
    <h2>Role: <%= @profile.user.role %></h2>
  </div>
  <br>
  <%= turbo_frame_tag :profile do %>
    <div>
      <strong><%= link_to 'Edit profile', edit_profile_path(@profile) if @profile.user == current_user %></strong>
        <h2>Job: <%= @profile.job %></h2>
        <h2>Bio: <%= @profile.bio %></h2>
        <h2>Linkedin: <%= @profile.linkedin %></h2>
        <h2>Github: <%= @profile.github %></h2>
    </div>
  <% end %>
  <section>
    <h2 class=''>Pathways</h2>
    <div class="">
      <% @pathways.each do |user_pathway| %>
        <div class="">
          <h2 class=''><%= user_pathway.pathway.title %></h2>
          <p class=''><%= user_pathway.pathway.details %></p>
          <%= link_to "See Pathway", profile_user_pathway_path(user_pathway.id, profile_id: current_user.profile.id),
            class: "" %>
        </div>
      <% end %>
    </div>
  </section>
</div>