<div class='text-center p-4'>
  <br>
  <div>
    <h2>Name: <%= @profile.user.first_name + ' ' + @profile.user.last_name %></h2>
    <h2>Email: <%= @profile.user.email %></h2>
    <h2>Role: <%= @profile.user.role %></h2>
  </div>
  <br>
  <div>
    <h2>Job: <%= @profile.job %></h2>
    <h2>Bio: <%= @profile.bio %></h2>
    <h2>Linkedin: <%= @profile.job %></h2>
    <h2>Github: <%= @profile.job %></h2>  
  </div>
</div>