<div class='text-center p-4'>
  <br>
  <div>
    <h2>Name: <%= @profile.user.first_name + ' ' + @profile.user.last_name %></h2>
    <h2>Email: <%= @profile.user.email %></h2>
    <h2>Role: <%= @profile.user.role %></h2>
  </div>
  <br>
  <div>
    <h2>Job: <%= @profile.job %></h2>
    <h2>Bio: <%= @profile.bio %></h2>
    <h2>Linkedin: <%= @profile.linkedin %></h2>
    <h2>Github: <%= @profile.github %></h2>  
  </div>
  <section>
  <h2>Pathways</h2>
  <% @pathways.each do |pathway| %>
      <%= pathway.pathway.title %>
      <%= pathway.pathway.details %>
      <%= link_to "See Pathway", profile_user_pathway_path(pathway), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>
  </section>
</div>