<div>
  <div>
    <h2>Name</h2>
    <%= @profile.user.first_name + ' ' + @profile.user.last_name  %>
    <h2>Email</h2>
    <%= @profile.user.email %>
    <h2>Role</h2>
    <%= @profile.user.role %>
  </div>
  <div>
    <h2>Job</h2>
    <%= @profile.job %>
    <h2>Bio</h2>
    <%= @profile.bio %>

    <h2>Linkedin</h2>
    <%= @profile.job %>
    <h2>Github</h2>
    <%= @profile.job %>

  </div>
</div>