<%= turbo_frame_tag comment do %>
  <div class="flex flex-col mb-4">
    <div class="p-2 mb-1 border break-word w-100">
      <%= markdown(comment.message) %>
      <%= comment.user.role %>
    </div>
    <div class="flex">
      <% if current_user == comment.user %>
        <%= link_to "Edit", edit_user_challenge_comment_path(comment.user_challenge, comment), class: "border px-3" %>
        <%= link_to "Delete", comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "border px-3 ml-1" %>
      <% end %>
    </div>
  </div>
<% end %>
