<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
   <div class='bg-[#D9D9D9] flex rounded-3xl mb-8'>
      <%= link_to omniauth_authorize_path(resource_name, provider), method: :post, class: 'font-medium my-2 mx-4' do%>
         <%# COMMENT OUT LINE BELOW WHEN FONT-AWESOME IS ENABLED %>
         <%# <i class="fa-brands fa-github"></i> %>
         <%="Log in with #{OmniAuth::Utils.camelize(provider)}"%>
      <% end %>
   </div>
  <% end %>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
   <span class='text-sm font-light mb-1'>
      Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name), class: 'font-medium underline text-blue-600' %>
   </span>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
   <span class='text-sm font-light mb-1'>
      Forgot your password?<%= link_to "Reset", new_password_path(resource_name), class: 'font-medium underline text-blue-600' %>
   </span>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>


