<div class="">
  <h1>This is User_Challenge #Show page</h1>

  <div class=''>
    <div class=''>
      <%= link_to "Back", profile_user_pathway_path(current_user.profile, @user_challenge.user_pathway) %>
      <h1 class=''><%= @user_challenge.challenge.title %></h1>
      <h3 class=''><%= @user_challenge.challenge.details %></h3>
      <p><%= @user_challenge.rating %></p>

      <div class="">
        <%= link_to "New comment",
                    new_user_challenge_comment_path(@user_challenge),
                    data: { turbo_frame: dom_id(Comment.new) },
                    class: "" %>

        <%= turbo_frame_tag Comment.new %>

        <div class=''>
          <%= turbo_frame_tag "comments" do %>
            <% if !@comments.nil? %>
              <% @comments.each do |comment| %>
                <%= render "comments/comment", comment: comment %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <p class=''><%= @user_challenge.comments.count %> Comments</p>
    </div>

    <div class=''>
      <%= link_to "New note",
                  new_user_challenge_note_path(@user_challenge),
                  data: { turbo_frame: dom_id(Note.new) },
                  class: "" %>

      <%= turbo_frame_tag Note.new %>

      <div class='mt-5'>
        <%= turbo_frame_tag "notes" do %>
          <% if !@notes.nil? %>
            <% @notes.each do |note| %>
              <%= render "notes/note", note: note %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
