<div class="">
  <div class=''>
    <%= link_to "Back", profile_path(current_user.profile) %>
    <h1 class=''><%= @user_pathway.pathway.title %></h1>
    <p class=''><%= @user_pathway.pathway.details %></p>
  </div>

  <h2 class=''>Challenges</h2>
  <div>
    <% @user_pathway.user_challenges.each do | user_challenge | %>
      <%= link_to profile_user_pathway_user_challenge_path(params[:profile_id], params[:id], user_challenge) do%>
        <div class=''>
          <h3 class=''><%= user_challenge.challenge.title %></h3>
          <h4 class=''><%= user_challenge.challenge.details %></h4>
          <p class=''><%= user_challenge.completed ? 'Completed!' : 'Not completed'%></p>
          <p><%= user_challenge.notes %></p>
          <p><%= user_challenge.rating %></p>
          <p class=''><%= user_challenge.comments.count %> Comments</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>