<div class="page">

  <section id="pathway-info">
  <%= link_to "Back", profile_path(current_user.profile) %>
  <h1><%= @user_pathway.pathway.title %></h1>
  <p class='Difficulty <%= @user_pathway.pathway.difficulty%>' id='difficulty'><%= @user_pathway.pathway.difficulty.capitalize %></p>
  <p><%= @user_pathway.pathway.details %></p>
  <%= image_tag('placeholder2.png', class:"user_img") %>
  </section>
  
  <div class="challenge-info">
    <h2>Challenges</h2>
    <% @user_pathway.user_challenges.each do | user_challenge | %>
      <%= link_to profile_user_pathway_user_challenge_path(params[:profile_id], params[:id], user_challenge) do%>
        <div class='challenge-details'>
          <div class='completion'>
          <h3><%= user_challenge.challenge.title %></h3>
          <p class= <%= user_challenge.completed ? 'COMPLETED' : 'ONGOING' %> ><%= user_challenge.completed ? 'COMPLETED' : 'ONGOING' %>
          </div>
          <h4><%= user_challenge.challenge.details %></h4>
          <p><%#= user_challenge.notes %></p>
          <p><%#= user_challenge.rating %></p>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
