<div class='flex m-auto flex-col items-center content-center'>

   <h2 class='text-3xl font-bold'>Forgot your password?</h2>

   <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field my-4">
         <%= f.label :email, 'Email *', class: 'font-semibold' %><br />
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Enter your email', class:'w-[22vw] h-8 p-2 border solid rounded-xl border-[#D9D9D9]'%>
      </div>

      <div class="actions rounded-2xl bg-[#3356D1] w-fit mx-auto my-4">
         <%= f.submit "Send reset email", class: 'text-white py-2 px-7' %>
      </div>
   <% end %>
   <%#= render "devise/shared/links" %>
</div>