<nav class="sticky top-0 z-50 position-fixed flex items-center justify-between flex-wrap bg-white-500 p-6">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="/" class="flex items-center">
    <span class="self-center text-xl font-semibold whitespace-nowrap" style="color:black;">Mentor Pathway</span>
    </a>
   <div class="flex md:order-2">
      <%= link_to "Sign up", new_user_registration_path, class: "font-medium text-sm rounded-pill py-2.5 px-5 text-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 text-white dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mr-3 md:mr-4" unless user_signed_in? %>
        <%= link_to "Log in", new_user_session_path, class: "font-medium text-sm rounded-pill py-2.5 px-5 text-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 text-white dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mr-3 md:mr-0" unless user_signed_in? %>
         <% if user_signed_in? %>
          <%= link_to "Hi, #{current_user.first_name}!", profile_path(current_user.profile), class: "nav-link block text-black font-medium text-xs leading-tight uppercase rounded px-6 py-3 my-2 md:mx-2 focus:outline-none focus:ring-0" %>
         <% end %>
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-pill text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" if user_signed_in? %>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <ul class="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0">
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-blue-800 md:hover:bg-blue-800 md:hover:text-blue-700 md:p-0 md:text-sm md:font-medium">About Us</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-blue-800 md:hover:bg-blue-800 md:hover:text-blue-700 md:p-0 md:text-sm md:font-medium">How It Works</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-blue-800 md:hover:bg-blue-800 md:hover:text-blue-700 md:p-0 md:text-sm md:font-medium">Contact Us</a>
        </li>
      <li><%= link_to "Pathways", pathways_path, class: "block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-blue-800 md:hover:bg-blue-800 md:hover:text-blue-700 md:p-0 md:text-sm md:font-medium" %> </li>
      </ul>
    </div>
  </div>
</nav>
