<%# Saves HTML template to variable %>
<% challenge_template = capture do %>
   <div class=''>
      <h3 class=''><%= challenge.title %></h3>
    <% if index == 0 %>
      <h4 class=''><%= challenge.details %></h4>
    <% else %>
      <h4 class=''><%= user_signed_in? ? challenge.details : 'Sign up to see more details' %></h4>
    <% end %>
  </div>
<% end %>

<% if user_signed_in? %>
   <%# Render template inside link %>
  <%= link_to challenge_template, pathway_challenge_path(pathway, challenge), class: '' %>
<% else %>
   <%# Render template without link %>
   <%= challenge_template %>
<% end %>



