<%# Saves HTML template to variable %>
<% challenge_template = capture do %>
   <div class='challenge-design'>
      <h3><%= challenge.title %></h3>
      <p><% challenge.tags.each do |tag| %>
         (<%= tag.name %>)
      <% end  %> </p>
    <% if index == 0 %>
      <h4><%= challenge.details %></h4>
    <% else %>
      <h4><%= user_signed_in? ? challenge.details : 'Sign up to see more details' %></h4>
    <% end %>
  </div>
<% end %>

<% if user_signed_in? %>
   <%# Render template inside link %>
  <%= link_to challenge_template, pathway_challenge_path(pathway, challenge), class: 'w-full' %>
<% else %>
   <%# Render template without link %>
   <%= challenge_template %>
<% end %>



