<div class="">
  <%= simple_form_for pathway do |f| %>
    <div class="">
      <p>Title</p>
      <%= f.input :title, label: false %>
    </div>
    <div class="">
      <p>Details</p>
      <%= f.input :details, label: false, input_html: { style: "width: 30%" } %>
    </div>
    <div class="">
      <p>Difficulty</p>
      <%= f.input :difficulty, collection: [ "beginner", "intermediate", "advanced" ], label: false %>
    </div>
    <%= f.submit pathway.nil? ? "Save" : "Create", class: "" %>
  <% end %>
</div>
