<div class="border p-4">
    <%= link_to pathway_path(pathway), class: 'flex flex-col h-full' do %>
      <h2 class='font-bold'><%= pathway.title %></h2>
      <p class='grow p-1'><%= pathway.details %></p>
      <h4 class='font-bold text-end'><%= pathway.difficulty.capitalize %></h4>
    <% end %>
  <%= link_to "Delete", pathway_path(pathway), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } if user_signed_in? && current_user.mentor? %>
</div>
