  <div class="border flex justify-between">
    <div>
      <%= link_to pathway_path(pathway) do %>
        <p><%= pathway.title %></p>
        <p><%= pathway.details %></p>
        <p><%= pathway.difficulty %></p>
      <% end %>
    </div>
    <%= link_to "Delete", pathway_path(pathway), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } if user_signed_in? && current_user.mentee? %>
  </div>
