<div class="">
   <div class=''>
      <%= form_with url: pathways_path, method: :get, class: "" do %>
         <%= text_field_tag :query,
            params[:query],
            class: "",
            placeholder: "Find a pathway"
         %>
         <%= submit_tag "Search", class: "" %>
      <% end %>
   </div>
  <h1 class="">This is Pathway #Index Page</h1>
  <div class="">
    <%= link_to "New", new_pathway_path, class: "" if user_signed_in? && current_user.mentor? %>
  </div>
    <% if @pathways %>
      <div class="">
        <% @pathways.each do |pathway| %>
          <%= render "pathway", pathway: pathway %>
        <% end %>
      </div>
    <% else %>
      <h1 class="">Ooops no pathways here!</h1>
    <% end %>
</div>
