<div class="container">

  <div class='pathway-info'>
    <%# <%= link_to "Back", pathways_path %>
    <h1><%= @pathway.title %></h1>
    <p class='Difficulty <%= @pathway.difficulty %>' id='difficulty'><%= @pathway.difficulty.capitalize %></p>
    <p><%= @pathway.details %></p>
    <%= image_tag "placeholder2.png" %>
    <%= button_to "Pathway Signup", pathway_user_pathways_path(@pathway), class: "border rounded-lg bg-blue-700 text-black p-2 m-2" if user_signed_in? && current_user.mentee? %>
    <%= link_to "Edit", edit_pathway_path(@pathway), class: "border rounded-lg text-black py-0 px-6" if user_signed_in? && current_user.mentor? %>
  </div>

  <div class="challenge-description">
    <div class="challenge-header">
      <h2>Challenges</h2>
      <%= link_to " + Add Challenge", new_pathway_path_challenge_path(@pathway), class: "add" if @pathway.challenges.present? && user_signed_in? && current_user.mentor?%>
      <%= link_to "Create New Challenge", new_pathway_challenge_path(@pathway), class: "create" if user_signed_in? && current_user.mentor? %>
    </div>
    <% @challenges.each_with_index do |challenge, index| %>
      <%= render "challenge", challenge: challenge ,pathway: @pathway, index: index%>
    <% end %>
  </div>
  
</div>



