<div class="">
  <div class=''>
    <%= link_to "Back", pathways_path %>
    <h1 class=''><%= @pathway.title %></h1>
    <p class=''><%= @pathway.details %></p>
    <p class=''><%= @pathway.difficulty %></p>
    <div class=''>
      <%= link_to "Add Challenge", new_pathway_path_challenge_path(@pathway), class: "" if @pathway.challenges.present? && user_signed_in? && current_user.mentor?%>
      <%= link_to "Create Challenge", new_pathway_challenge_path(@pathway), class: "" if user_signed_in? && current_user.mentor? %>
      <%= button_to "Pathway Signup", pathway_user_pathways_path(@pathway), class: "" if user_signed_in? && current_user.mentee? %>
      <div class="my-5">
        <%= link_to "Edit", edit_pathway_path(@pathway), class: "" if user_signed_in? && current_user.mentor? %>
      </div>
    </div>
  </div>


  <h2 class=''>Challenges</h2>
    <% @challenges.each_with_index do |challenge, index| %>
      <%= render "challenge", challenge: challenge ,pathway: @pathway, index: index%>
    <% end %>
</div>
