<div class="FormStyle">
  <%= simple_form_for [pathway, challenge] do |f| %>
    
    <div class="my-3">
      <p class="ChallengeName" style="font-size:20px; font-weight:bold; letter-spacing:1px; margin-bottom: 13px;">Title</p>
      <%= f.input :title, placeholder: 'Title here', label: false, input_html: { style: "width: 90%;border-radius: 10px; padding: 7px" } %>
    </div>
    
    <div class="dld">
      <p class="ChallengeDeets" style="font-size:20px; font-weight:bold; letter-spacing:1px; margin-bottom: 13px;">Details</p>
      <%= f.input :details, placeholder: 'Description', label: false, input_html: { style: "width: 90%;border-radius: 10px; padding-left: 7px; padding-top: 7px; height: 100px;"} %>
    </div>

    <div class="my-3">
      <p class="ChallengeTags" style="font-size:20px; font-weight:bold; letter-spacing:1px; margin-bottom: 13px;">Tags</p>
    <%= f.association :tags, as: :check_boxes %>
    </div>
    
    <%= f.submit challenge.nil? ? "Save" : "Create", class: "CreateButton" %>

  <% end %>
</div>
