<!DOCTYPE html>
<html class="darkMode">
  <head>
    <title>MentorPathway</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %> 

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="flex flex-col min-h-screen" >
    <%= render "shared/navbar" %>
    <% if notice %>
      <p class="notice"><%#= notice %></p>
    <% end %>
    <% if alert %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative m-auto w-fit" role="alert">
         <strong class="font-bold"><%= alert %></strong>
      </div>
   <% end %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
